In [ ]:
#1
a=float(input("enter the first side of triangle"))
b=float(input("enter the second side of triangle"))
c=float(input("enter the third side of triangle"))
s=(a+b+c)/2
A=(s*(s-a)*(s-b)*(s-c))**0.5
print("the area of the triangle is:",A)

enter the first side of triangle6
enter the second side of triangle7
enter the third side of triangle8
the area of the triangle is: 20.33316256758894

In [ ]:
#2
str=input("enter astring")
r=str[::-1]
if str==r:
  print("palendrome")
else:
  print("not a palendrome")

enter astring111
palendrome

In [ ]:
#3
year=int(input("enter year"))
if year%4==0 and year%400==0 and year%100==0 :
  print("leap year")
else :
  print("non leap year")

enter year678
non leap year

In [ ]:
#4
p=input("enter a sentence")
p=p.replace(" ","-")
print(p)

enter a sentencewe have started 2nd year classes
we-have-started-2nd-year-classes

In [ ]:
#5
list="orange","red","cyan","green","magneta","pink","white"
list=sorted(list)
print(list)

['cyan', 'green', 'magneta', 'orange', 'pink', 'red', 'white']

In [ ]:
#6
s=int(input("enter your salary"))
if s<=250000:
  tax=0
elif s>=250001 and s<=500000:
  tax=s*5/100
elif s>=500001 and s<=750000:
  tax=s*10/100
elif s>=750001 and s<=1000000:
  tax=s*15/100
elif s>=1000001 and s<=1250000:
  tax=s*20/100
elif s>=1250001 and s<=1500000:
  tax=s*25/100
elif s>=1500000:
  tax=s*30/100
print("the tax to be paid is: ",tax)

enter your salary600000
the tax to be paid is:  60000.0

In [ ]:
#7
a=input("enter first integer")
b=input("enter second integer")
c=input("enter third integer")
print(a+b+c)

enter first integer11
enter second integer30
enter third integer0
11300

In [ ]:
#8
d=int(input("enter the day"))
h=int(input("enter the hours"))
m=int(input("minutes"))
s=int(input("seconds"))
scnd=d*24*60*60+h*60*60+m*60+s
print(scnd)

enter the day1
enter the hours1
minutes1
seconds1
90061

In [ ]:
#9
p=int(input("enter first integer"))
q=int(input("enter second integer"))
s=int(input("enter third integer"))
a=max(p,q,s)
b=min(p,q,s)
c=p+q+s-a-b
print(a,c,b)

enter first integer23
enter second integer21
enter third integer3
23 21 3

In [ ]:
#10
a=int(input("enter year: "))
b=int(input("enter month: "))
c=int(input("enter date: "))
if a%4==0:
  leap=True
else:
  leap==False
if b==2:
  if leap:
    len=29
  else:
    len=28
elif b in(4,6,9,11):
  len=30
else:
  len=31
if c<len:
  c=c+1
else:
  c=1
  y+=1
print(f"sucessor date is [yyyy-mm-dd] : {a}-{b}-{c}")

enter year: 2020
enter month: 4
enter date: 20
sucessor date is [yyyy-mm-dd] : 2020-4-21

In [ ]:
#11
def pro_list(a1,a2,a3,a4,a5,a6,a7,a8):
  return a1*a2*a3*a4*a5*a6*a7*a8
pro_list(45,3,2,89,72,1,10,7)

121111200

In [ ]:
#12
def add(x1,x2,x3,x4,x5,x6):
  return(x1+x2,x2+x3,x3+x4,x4+x5,x5+x6)
add(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
#13
def num(x1,x2,x3,x4,x5,x6):
  return(x1,x2*x1,x1*x2*x3,x1*x2*x3*x4,x1*x2*x3*x4*x5,x1*x2*x3*x4*x5*x6)
num(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#14
a=int(input("enter the number"))
list=[]
b=0
while a>0:
  x=a%10
  a=a//10
  b=b*10+x
while b>0:
  x=b%10
  b=b//10
  list.append(x)
print(list)

enter the number213543
[2, 1, 3, 5, 4, 3]

In [ ]:
#16
p=input("enter a binary number of length 10")
q=input("enter binary number of length 5")
if p[:] in q[:]:
  print(1)
else:
  print(0)

enter a binary number of length 101010101010
enter binary number of length 510101
0