In [ ]:
#1
year=int(input("enter year"))
if year % 12==0 :
  print("monkey")
elif year % 12==1 :
  print("rooster")
elif year % 12 ==2:
  print("dog")
elif year %12==3 : 
  print("pig")
elif year % 12==4 :
  print("rat")
elif year % 12==5 :
  print("ox") 
elif year % 12==6 :
  print(" tiger ")
elif year % 12==7 :
  print("rabbit")
elif year % 12==8 :
  print("dragon")
elif year % 12==9 :
   print(" snake ")
elif year % 12==10 :
  print("horse") 
elif year%12==11 :
  print("sheep")

enter year2020
rat

In [ ]:
#2
d=int(input("enter distance :"))
w=int(input("enter weight:"))
if d < 500 :
  if w < 100 :
    c=5*d
  elif w>=100 :
    c=8*d
elif d >=500 :
  if w <10:
    c=7*d
  elif w>=10 and w<100 :
    c=6*d
  elif w>=100 :
    c=5*d
print("amount to be charged :",c)

enter distance :520
enter weight:50
amountto be charged : 3120

In [31]:
#3
print("types of seats:\nstalls\ncircle\nupper class\nbox")
seat=input("enter the type of seat")
if seat=="stalls":
  a=625
elif seat=="circle":
  a=750
elif seat=="upper class":
  a=850
elif seat=="box":
  a=1000
print("payment option cash,credit")
p=input("enter payment mode")
if p=="cash":
  amount=a-a*0.1
  print(amount)
elif p=="credit":
  amount=a-a*0.02
  print(amount)

types of seats:
stalls
circle
upper class
box
enter the type of seatbox
payment option cash,credit
enter payment modecash
900.0

In [ ]:
#4
i=int(input("enter intial temperature"))
f=int(input("enter final temperature"))
m=int(input("enter the amount of water in kilograms"))
q=m*(f-i)*4184
print(q)

enter intial temperature1
enter final temperature2
enter the amount of water in kilograms1
4184

In [ ]:
#5
mnth=input("enter month")
if mnth =='december' or mnth=='january' or mnth=='february' :
  print("winter")
elif mnth=='march' or mnth=='april' or mnth=='may' :
  print("spring")
elif mnth=='june' or mnth=='july' or mnth=='august' :
  print("summer")
else :
  print("autumn")

enter monthdecember
winter

In [19]:
#8
for i in range(1,1000) :
 rev=0
 n=i 
 while i>0:
    m=i%10
    rev=rev*10+m
    i=i//10
 if n==rev :
    print(n,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#7
i=int(input("enter an integer between 100 to 1000"))
sum=0
while i>0:
    n=i%10
    sum=sum+n
    i=i//10
print(sum)

enter an integer between 100 to 1000400
4

In [ ]:
#6
w=int(input("enter weight in pounds:"))
h=int(input("enter height in inches :"))
bmi=0.4535937*w/(0.0254*h)**2
if bmi<18.5:
 print("under weight")
elif 18.5<=bmi<25.0 :
 print("normal")
elif 25.0<=bmi<30.0 :
 print("over weight")
else :
 print("obese")

enter weight in pounds:10
enter height in inches :20
under weight

In [32]:
#9
for i in range(1,1000) :
 sum=0
 m=i
 while i>0 :
  n=i%10
  sum=sum+n**3
  i=i//10
 if m==sum :
  print(m,end=" ")

1 153 370 371 407

In [ ]:
#10
for i in range(1,100) :
  if(i%3==0 and i%5==0):
    print("fizz buzz")
  elif(i%5==0):
    print("buzz")
  elif(i%3==0):
    print("fizz")
  else :
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [35]:
#11
h=int(input("enter heightr of well"))
u=int(input("enter distance it climbs for each step"))
d=int(input("enter the distance it slips"))
e=1+((h-u)+(u-d))//(u-d)
print(e)

enter heightr of well200
enter distance it climbs for each step50
enter the distance it slips1
5